@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


body, input, button {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-align: center;
    color: rgba(34, 48, 74);
    background-color: #e0e5ec;
    background-position: center;
}
button {
    background: #9dabc0;
    color: #e0e5ec;
    border: none;
    box-shadow: 5px 5px 10px #babecc, -5px -5px 10px #f2f3f5;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 15px 0 15px 10px;
    font-size: 20px;
}
button:hover {
    background: #929cd0;
    cursor: pointer;
}
header{
    font-size: 40px;
    margin: 10px 0 10px 0;
}
input {
    background: #e0e5ec;
    font-size: 20px;
    width: 50px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    box-shadow: inset 3px 3px 5px #babecc, inset -3px -3px 5px #f2f3f5;
}
.card{
    background-color: #e0e5ec;
    max-width: 60%;
    min-width: 300px;
    margin: auto;
    padding: 25px;
    margin-top: 25vh;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #babecc, -5px -5px 10px #f2f3f5;
}
.spacing{
    margin: 15px;
}
.temperatureFields{
    display: inline-block;
    font-size: 15px;
}
.wrapper{
    max-width: 960px;
    margin: auto;
}
